.container { 
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 1em; height: 1em;
    border-radius: 50%;
    border: .15em solid teal;
    border-top: .15em solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 1.0s linear infinite;
}

.loader span {
    color: orange;
    font-size: 1em;
    animation: spin 1.0s linear infinite reverse;
}

@keyframes spin{
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}