* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  justify-content: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  --bg1-color: #282c34;
  --bg2-color: #282c44;
  --prm-color: orange;
  --sec-color: #61dafb;
  --sec-color: teal;
  --wht-color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg1-color);
  color: var(--wht-color);
}

.App-header {
  background-color: var(--bg2-color);
  color: var(--prm-color);
  padding: .5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1em solid var(--prm-color);
  border-radius: 1em;
}

h2, h3, h4 {
  text-align: center;
}

.App-body {
  padding: 0 1em;
  flex: 1 1 auto;
  /* border: .1em solid green; */
}

.new-city-form {
  padding: .25em 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}

.city-list {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.city {
  min-height: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: .25em;
  border: 0.1em solid var(--sec-color);
  border-radius: .25em;
  font-size: smaller;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
