.App-navbar {
    --prm-color: teal;
    --sec-color: orange;
    font-size: .75em;
    padding: 0 2.5vmin;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: .25em;
  }
  
  .App-navbar li {
    width: 35%;
    transition: .25s;
    background-color: #282c34;
    border-radius: .5em;
    border-bottom: .1em solid var(--prm-color);
    display: flex;
    align-items: center;
  }
  
  .App-navbar a {
    flex-grow: 1;
    display: block;
    color: var(--prm-color);
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
  }
  
  li input {
    margin: .5em;
    position: absolute;
    float: left;
  }

  .App-navbar li:hover:not(.active) { --prm-color: orange; }
  
  .App-navbar .active {
    width: 70%;
    background-color: #282c44;
    font-weight: 700;
  }
